<!DOCTYPE html>
<html>
<head>
	<title>Salle</title>
</head>
<body>
	<img src="/images/logo.png"/>
	<h1> Salle {{ numero }} </h1>
	<p>voici quelques informations concernant la salle numero: {{ numero }} </p>
</body>
</html>